.reglogbackground {
    background-image: url('/src/assets/Images/register.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    display: relative;
}
.girl {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.girl {
    position: relative;
    height: 70px;
}
.text-container {
    max-width: 600px;
    margin-top: 7%;
    margin-left: 50%;
}
.text-container h1 {
    font-size: 80px;
    font-weight: 400;
}
.text-container a {
    text-decoration: none;
    background: #00986f;
    padding: 14px 40px;
    display: inline-block;
}

.unContainer {
    max-width: inherit;
    padding: inherit;
    margin: inherit;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.headerbar-200 {
    width: 200px;
}

@media (max-width: 350px) {
    .headerbar-200 {
        width: auto;
    }
}
.footer {
    color: var(--white);
    background-color: var(--black);
    font-size: 14px;
    list-style-type: none;
    margin-top: 3rem;
}

.footer p {
    color: #8a8a8a;
}

.footer .col-2 {
    flex: 1;
    text-align: center;
}

.footer .col-2 img {
    width: 180px;
    margin-bottom: 20px;
}
.nav .links:hover {
    background-color: green; /*will change background-color of element on hover */
    color: rgb(255, 0, 0); /*will change color of text within the element on hover */
    z-index: 999;
}

/* .image-gallery-slide-wrapper img {
    max-width: 700px;
    height: 800px;
} */
/* .my-gallery-container {
    max-width: 100%;
    overflow-x: hidden;
} */
/* .image-gallery-thumbnails-wrapper {
    max-width: 100%;
} */

.detail-quote-content {
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.detail-quote-author {
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
/* .testing {
    background-color: transparent;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    font-size: 50px;
    color: white;
    text-align: center;
    padding: 10px;
} */
.image-gallery-slide {
    top: 0px;
}
@media screen and (min-width: 1400px) {
    .image-gallery-right-nav {
        right: 70px !important;
    }
    .image-gallery-left-nav {
        left: 70px !important;
    }
}

@media only screen and (max-width: 992px) {
    .image-gallery-description {
        top: 50% !important;
        width: 90% !important;
    }
}
@media only screen and (max-width: 768px) {
    .image-gallery-description {
        top: 40% !important;
        width: 40% !important;
    }
}
.detail-quote-author {
    font-family: OCR A Std, monospace;
}
/* @media screen and (max-width: 991px) {
    .detail-quote-content {
        margin-top: 15%;
        font-size: 18px !important;
    }
    .detail-quote-author {
        margin-bottom: 30%;
        font-size: 15px !important;
        width: 100% !important;
    }
}
@media screen and (min-width: 991px) and (max-width: 1200px) {
    .detail-quote-content {
        font-size: 24px !important;
        display: inline-block;
    }
    .detail-quote-author {
        display: inline;
        margin-bottom: 30%;
        font-size: 25px !important;
        width: 100% !important;
        height: 50px;
    }
} */

/* .home-buttons {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    margin-right: 1rem;
    padding: 0.5rem 0;
}

button.active,
button:hover {
    border-bottom: 2px solid #007bff;
} */

.home-buttons {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    margin-right: 1rem;
    padding: 0.5rem 0;
    position: relative;
}

.home-buttons::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out 0s;
}

.home-buttons:hover::before,
.home-buttons.active::before {
    visibility: visible;
    transform: scaleX(1);
}

.home-buttons.active,
.home-buttons:hover {
    color: black;
}
.search-container {
    position: relative;
}

.react-autosuggest__container {
    position: relative;
}

.react-autosuggest__input {
    width: 800px;
    height: 44px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    margin-left: 30px;
}

.react-autosuggest__input:focus {
    outline: none;
    border-color: rgba(32, 33, 36, 0.35);
    box-shadow: 0 0 0 2px rgba(32, 33, 36, 0.2);
}

.react-autosuggest__suggestions-container {
    position: absolute;
    top: 44px;
    width: 100%;
    padding-left: 0px;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #dfe1e5;
    background-color: #fff;
    border-radius: 8px;
    z-index: 10;
    margin-left: 10px;
}
.comment-item-time {
    color: rgba(80, 80, 80, 0.685) !important;
}
.custom-suggestion {
    width: 101%;
    height: 100%;
}
.react-autosuggest__suggestion {
    cursor: pointer;
    list-style-type: none;
    padding: 10px;
    background-color: #ffffff;
}

.react-autosuggest__suggestion--highlighted {
    background-color: #f6f8fa;
}

.react-autosuggest__suggestion:hover {
    background-color: #cfcfcf;
}
.link-tag {
    text-decoration: none;
    color: rgb(77, 68, 68);
}
